/*
Theme Name: Plasterdog Hero
Theme URI: https://plasterdog.com/the-plasterdog-customizer-theme/
Author: jeff mcnear
Author URI: https://plasterdog.com/
Description: Underscores as a jumping off point. Significant control of color scheme via the customizer - header text color - background color - regular link color - regular link hover color - navigation link color - navigation link hover color - social media link color - social media link hover color - headings (h1-h6) color - body text color - header area background color - footer area background color - footer text color - border color. Header logo is also set via the customizer, as well as a default background color.  All pages and individual posts can be set to have a full width hero image - page templates for full width, split page, archive page, and main landing page. Social media links and other contact information is set via => settings => global custom fields.This theme will work best using the classic editor and with advanced custom fields as an active plugin.
Tags: custom-colors, custom-menu, custom-logo, featured-images
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: plasterdog-hero
Version: 1.9
*/
@import "abstracts/_mixins";
@import "abstracts/_variables";

@import "base/_reset";
@import "base/_typography";

@import "components/_navigation";
@import "components/_forms";
@import "layout/_footer";

@import "layout/_header";
@import "layout/_hero";

@import "pages/_home";



/*--- START PDOG CUSTOMIZATION --*/

/*--- future reference ---*/
.sticky{color:inherit;}
.gallery-caption{color:inherit;}
.bypostauthor{color:inherit;}

.wph-modal .wph-modal--hide a, .wph-modal footer a{color:$darkBrownColor !important;font:400 12px/20px $defaultFont;-webkit-transition:0.2s ease;transition:0.2s ease}
.wph-modal .wph-modal--close a{ border:0;box-shadow:none;color:$darkBrownColor !important;font-size:13px;text-decoration:none;-webkit-transition:0.2s ease;transition:0.2s ease}
#mc_embed_signup .button{ clear:both;background-color:$darkBrownColor !important;border:0 none;border-radius:4px;letter-spacing:.03em;color:$whiteColor;cursor:pointer;display:inline-block;font-size:15px;  height:32px;line-height:32px;margin:0 5px 10px 0;padding:0 1em;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap;width:auto;transition:all 0.23s ease-in-out 0s;  margin-top:1em}
/*--------------------MAIN CONTENT AREA -----------*/

/*---------------Links-----------------------------*/
a{color:$lightBlueColor;text-decoration:none}
a:visited{color:$lightBlueColor}
a:hover, a:focus, a:active{color:$darkBlueColor}

/*--- the page image background --*/
.big-background{padding-top:9em;}

/*--- FEATURED IMAGE CONTROLS ---*/
img.attachment-thumbnail{float:left;margin-right:.5em}
/*---CATEGORY TITLE ---*/
#secondary h1.page-title{float:right;}
h1.page-title, h1.entry-title, h1.answer-heading{color:$darkBrownColor;font-size:1.5em;line-height:1.5em;font-weight:normal;   /* padding-left:1.25em; background-image:url(./images/logo-accent.png);  background-repeat:no-repeat*/}
h1.responsive-page-title{visibility:collapse; height:0;}
h1.page-title a, h1.entry-title a {color:$darkBrownColor;text-decoration:none}

/*---------- CUSTOMIZATIONS---------------*/
.category #page { }
.clear{clear:both}
/*-- for post navigation--*/
.left-split-nav{ float:left;width:48%;text-align:left}
.right-split-nav{ float:right;width:48%;text-align:right}

/*-- for sidebar--*/
#secondary{ width:25%;/*max-width:250px;  font-size:.85em; */}
#secondary.widget-area{padding:1em}
#secondary .widget-area img{ width:80%;height:auto;margin-top:2em}
#secondary li{ list-style:none;display:block;margin-left:.5em}
#secondary li a{text-decoration:none}
#secondary li.current-menu-item a{color:$lightBlueColor;width:100%;display:block;background-color:$whiteColor;margin-left:-.25em;padding-left:.25em; /*color:$lightBlueColor;*/}
#secondary li a:hover{ width:100%;display:block;background-color:$whiteColor;margin-left:-.25em;padding-left:.25em;text-decoration:underline;}
#secondary ul{ margin-left:0em}
#secondary .widget_search{font-size:.85em}

/*----- Content Area ---------------------*/
.blog #page {padding-top:11em;}
#page{ width:100%;max-width:1400px;padding:4em 2em 0 2em;margin-left:auto;margin-right:auto;background-color:transparent;margin-top:0;margin-bottom:0;clear:both;}
.page-template-feed-page #page{/*margin-top:1.5em;*/}
#main{padding-left:0em}
.page-template-feed-page #secondary h2 a{color:$darkBrownColor}
.page-template-feed-page #secondary h2{margin:0 0 1em 0;}
/*--- splitting styles ----*/
#page .left-side, #secondary .left-side, #foot-constraint .left-side{float:left;width:48%; padding-left:1%;}
#page .right-side, #secondary .right-side, #foot-constraint .right-side{float:right;width:48%;}
#foot-constraint .right-side{text-align: right;}
#main .left_picture, #secondary .left_picture{float:left;width:30%}
#main .left_picture img, #main .right_picture img, #secondary .left_picture img, #secondary right_picture img{width:90%;margin-right:10%;height:auto}
#main .right_text, #secondary .right_text{float:right;width:65%}
#main .left_text, #secondary .left_text{float:left;width:65%}
#main .right_picture, #secondary .right_picture{float:right;width:30%}
#main .archive_left_picture, #secondary .archive_left_picture{float:left;width:20%}
#main .archive_left_picture img, #secondary .archive_left_picture img{width:100%;height:auto; margin:0;}
#main .archive_right_text, #secondary .archive_right_text{float:right;width:78%}

/*-- DEFINES CONTENT AREA --*/
.content-area{float:right;margin:0 0 0 -26%;width:100%; padding:1em; min-height:85vh;background-color: rgba(255, 255, 255, .8);border-radius: 10px;
border: solid 2px $goldColor; margin-bottom:1em;}
.entry-content .left-side, .entry-content  .right-side{background-color: transparent;border-radius: 25px;margin-bottom:1em;padding:1em;}
.question-site-main{float:right;width:65%; }
.site-main{margin:0 0 0 26%}

/*-- FULL WIDTH PAGES --*/
.page-template-page-home .full-content-area{border:none 0px transparent; background-color: transparent;}
.full-content-area{float:left;margin:0 0 0 0;width:100%;background-color: rgba(255, 255, 255, .85);border-radius: 10px;border: solid 2px $goldColor; margin-bottom:1em;padding:1em 3em;min-height: 50vh;}
.page-template-page-home .full-content-area{float:left;margin:1em 0 0 0;width:100%;background-color: rgba(255, 255, 255, .85);border-radius: 10px; margin-bottom:0; margin-top:0; padding:1em 3em;min-height: 25vh;}
.full-site-main{margin:0}
.site-content .widget-area{float:left;overflow:hidden;width:30%;/*margin-top:1em*/}

/* ---  RESPONSIVE --- Small menu */
.menu-toggle{cursor:pointer;display:none;}

/*--- more over rides--*/
p.archive-link{text-align:right;}
ul.just-archive-array{list-style:none;margin:0 ;}
.just-archive-array p{margin:0 0 1em 0;}
.just-archive-array h1{margin:0;}
.page-template-page-books a{text-decoration:none;}

@media (max-width:1300px){ 
body { overflow-x: hidden;}
}

@media (max-width:1200px){ 
#foot-constraint{width:90%; margin:0 5%;}	
.site-branding h1.site-title {}
html{overflow-x: hidden;}
#page{width:98%;max-width:1000px;margin-left:auto;margin-right:auto;background-color:transparent;margin-top:2.5em;margin-bottom:1em;padding:1em;}
}

@media (max-width:900px){ 
.page-template-landing-page .content-area{float:left;margin:1em;width:100%}
.page-template-landing-page .site-main{margin:1em}
.page-template-landing-page #secondary{width:100%}
.page-template-landing-page .entry-content{border-right:none 0px transparent;padding-right:0}
.page-template-feed-page .site-main{margin:0 }
.page-template-feed-page #secondary{width:100%}
.page-template-feed-page h1.page-title{visibility:collapse; height:0;}
.page-template-feed-page h1.responsive-page-title{color:$darkBrownColor;font-size:1.5em;line-height:1.5em;font-weight:normal;  visibility:visible; height:auto;  background-repeat:no-repeat; 	border-bottom:1px solid $blackColor;}
}

@media (max-width:825px){  
.question-site-main{float:left;width:100%; }	
.landing-third-1,.landing-third-2,.landing-third-3{float:left;width:100%;margin:2em 0 0 0;}
.landing-third-3 .widget{margin:0;}
#page .left-side, #page .right-side{    float:left;     width:100%}
#page .left-side{margin-bottom:2em;}
.footer-section{float:left;width:100%;text-align:center;}
.content-area{float:left;margin:0;width:100%;}
.site-main{margin:0;}
#secondary{width:100%;max-width:820px;background-color: rgba(255, 255, 255, .8);}
#secondary.widget-area{float:left; margin:0;width:100%;margin-left:0;}
.entry-content{border-right:none;padding-right:0;}
.content-area {min-height: 0;}
h1.page-title{visibility:collapse; height:0;}
h1.responsive-page-title{color:$blueColor;font-size:1.5em;line-height:1.5em;font-weight:normal;  visibility:visible; height:auto;  background-repeat:no-repeat;border-bottom:1px solid $blackColor;}
.single-question h1.page-title, .single-question h1.entry-title{color:$darkBrownColor;font-size:1.5em;line-height:1.5em;font-weight:normal; visibility:visible; height:auto;}
.content-area, #secondary {  border-radius: 0;}
}

@media screen and (max-width:725px){  
#page .left-side, #secondary .left-side, #foot-constraint .left-side,  #foot-constraint .right-side{float:left;width:100%}	
.footer-menu {padding-bottom: 2em;}
#foot-constraint .left-side, #foot-constraint .right-side{text-align:center;}
.menu-toggle,.main-navigation.toggled .nav-menu{display:block; z-index: 999;}
.main-navigation {width: 100%;}
.entry-content img{width:60%;margin:0 20%;}
.content-area{float:left;margin:0;width:100%;}
.site-main{margin:0;}
#secondary{width:80%;max-width:650px;background-color: rgba(255, 255, 255, .8);}
#secondary.widget-area{float:left;margin:0;width:100%;margin-left:0;}
  /*--- splitting styles ----*/
 #main .left_picture, #main .right_text, #main .left_text, #main .right_picture{float:left;width:100%;}
 #main .left_picture img, #main .right_picture img{width:60%;margin-right:20%;margin-left:20%;height:auto;}
 .big-background {padding-top: 0;margin-top: -1em;margin-bottom: -1em;}
 .full-content-area {padding: 1em;}
}

@media (max-width:625px){ 
#page .right-side, #secondary .right-side, #foot-constraint .right-side{float:right;width:100%}
#main .left_picture, #secondary .left_picture{float:left;width:100%}
#main .left_picture img, #main .right_picture img, #secondary .left_picture img, #secondary right_picture img{width:70%;margin:0 15%;height:auto}
#main .right_text, #secondary .right_text{float:right;width:100%}
#main .left_text, #secondary .left_text{float:left;width:100%}
#main .right_picture, #secondary .right_picture{float:right;width:100%}
#main .archive_left_picture, #secondary .archive_left_picture{float:left;width:100%}
#main .archive_left_picture img, #secondary .archive_left_picture img{width:70%;height:auto; margin:0 15%;}
#main .archive_right_text, #secondary .archive_right_text{float:right;width:100%;}
}

@media (max-width:500px){ 
.page-template-landing-page #secondary .left_picture{float:left;width:100%}
.page-template-landing-page #secondary .right_text{float:left;width:100%}
}

@media (max-width:450px){ 
.site-info{border-top:none transparent; text-align:center;}
}

@media (max-width:400px){ 
h1.menu-toggle {background-position: 0 1.15em;}	
.menu-main-container {top: 3.25em;}
}