/*--header region typography--*/
.site-branding h1.site-title{font-size:1.5em;display:inline-block;/*text-transform:uppercase;*/font-family:$titleFont;margin:.25em 0 0 0;font-weight:normal;}
.site-branding h1.site-title a{text-decoration:none;font-weight:normal;color:$whiteColor}
.site-branding h2.mastehead-info{font-size:1em;display:inline-block;font-style:italic;margin-left:.5em;font-family:$titleFont;color:$darkBlueColor}
h2.masthead-info{color:$whiteColor; margin-left:0;font-family:$titleFont;font-size:.85em;margin-top:.5em; letter-spacing: .05em;}


/*--header region --*/
#full-top{border-bottom:solid 2px $goldColor;  width:100%; position:fixed; z-index:999;
background-color:$whiteColor;}
#upper-band{ width:100%; z-index:1; height:11rem;overflow-y:hidden;}
#upper-band img{width:100%; min-height:100%;}
.masthead-holder{ width:100%;  max-width:1400px;margin:0 auto;top:0;background:transparent;  padding:0 2em; /*height:200px;*/}
#masthead{ max-width:1200px;background-color:transparent;padding-top:0; /*top:2em;*/ color:$blackColor;position:absolute;z-index:999;}
#masthead .site-branding{margin:0}
.site-header{ width:100%;z-index:999;color:#000}
#left-head{float:left;margin-left:1em;}
#left-head-1{float:left;width:150px}
#left-head-2{ float:left; margin-left:0;}
#right-head{float:right;}
#right-head .social .icon-text{font-size:1.25em; margin-right:1.5em;font-family:$titleFont;display:inline;line-height:3em;}
ul.top-social-icons{padding:.75em 0 0 0;margin:0;float:right;}
#right-head .top-social-icons li{list-style:none;float:left;margin-right:1em;font-size:2em;}
#right-head .social{float:right;width:100%;}
#right-head .social a{color:$whiteColor;}
#right-head .social a:hover{color:$lightBlueColor;text-decoration:none;}

@media (max-width:1300px){ 
#masthead{ right:2em;max-width:1200px;}	
#right-head .social .icon-text {font-size: 1.25em;margin-right: 1.5em;font-family: Arial, Tahoma, Verdana;display: block;line-height: 1em;}
}

@media (max-width:1200px){ 
.masthead-holder{width:98%; margin:0 auto; padding:0;  top:0; background:transparent}
}

@media (max-width:1100px){ 
.site-branding h1.site-title{font-size:1.25em;}
#left-head-1{float:left;width:150px}	
#right-head {float: left;padding-left: 2em;}	
#right-head .social .icon-text{font-size:1.25em; margin-right:.5em;font-family:$titleFont;display:inline-block;line-height:1.5em;}
ul.top-social-icons {float: left;padding:0;}
#upper-band{ width:100%; z-index:1; overflow-y:hidden;}
h2.masthead-info {font-size: 1em; margin-top: 0;}
#right-head .social .icon-text {margin-left: 1.5em; margin-right:0;}
#left-head {  width: calc(100% - 200px);}
#left-head-2 {   width: 100%;}
h2.masthead-info {   text-align: right;}
#upper-band {   height: 13rem;}
.main-navigation {top: 5em;}
}	

@media (max-width:900px){ 
.masthead-holder{    width:100%;      margin:0 ;     top:0;    padding:0;}		
.site-branding h1.site-title, h2.masthead-info{display:inline;}	
 h2.masthead-info {padding-left: 2em;}
 #right-head .social {margin-top: 1em;}
}

@media (max-width:825px){  
#left-head-1{float:left;width:125px}	
#left-head {float: left; margin-top: 0;}	
.site-branding h1.site-title {font-size: 1.25em;}	
h2.masthead-info {font-size: 1em; padding-right:2em;}
#right-head .top-social-icons li {margin-right: .75em;}
}

@media screen and (max-width:725px){  
#full-top {top: 1.75em;}
#left-head-1 {float: left;width: 25%;padding-top:1em;}
#left-head {float: left; margin-left:0; padding-top:1em;}
#right-head{width: calc(100% - 200px); padding-left:0;}
#right-head .social {margin-left:.5em;}	
#right-head .social .icon-text {display: block;}
.site-branding h1.site-title {font-size: 1.25em;display: block;position: relative; }
h2.masthead-info {font-size: 1em;padding: 0; margin:0;}
#right-head .social .icon-text {margin: 0;padding:0;}
#right-head .top-social-icons li {margin-right:1em;}
ul.top-social-icons {float: left;}
#full-top{border-bottom:solid 2px $goldColor;  width:100%; position:relative; z-index:999;
/*background-color:$darkBrownColor; background-image:url(./images/mesaland.jpg);  background-repeat:no-repeat;  background-position:center top; */}
.main-navigation {clear: both; display: block; float: right; width: 100%; height: 2em; position: fixed; top: 0; left:0;background:#000000;}
#upper-band {height: 130px;}
#right-head .social {margin-top: 0;}
#right-head .social .icon-text {display: block;padding-bottom: .25em;}
#right-head .top-social-icons li {margin-right: 1em;font-size: 2em;}
#right-head .top-social-icons li:last-of-type {margin-right: 0;font-size: 2em;}
}

@media (max-width:625px){ 
#left-head-1 {float: left;width: 150px;}
#right-head{width: calc(100% - 160px);}
#masthead {right: 0;}
}

@media (max-width:550px){ 
#left-head-1 {float: left; width:30%; margin:0 35%;}
#upper-band {height: 250px;}
#right-head{width: 100%;}
#left-head {width: 100%;}
#left-head-2, #right-head {text-align: center;}
#right-head .social {display: flex;justify-content: center;}
#right-head .social a, #right-head .social, #right-head .social .icon-text { width: 100%; flex-wrap: wrap;}
}

@media (max-width:500px){ 

h2.masthead-info {margin-left: .5em;font-size: 1em;visibility: collapse;font-size: 0;}	
#right-head{margin-top:-1em;}
}

@media (max-width:450px){ 
#right-head{width: 100%;}	
.site-branding h1.site-title {font-size: 1.5em; z-index: 0;padding-top:0;}	
#left-head {float: left;width:100%;}
#left-head-1 {float: left;width: 40%;margin:0 30%; }
#left-head-2{padding-top:0;}
ul.top-social-icons {padding: 0;}
}

@media (max-width:400px){ 
#right-head .top-social-icons li {margin-right: .75em;font-size: 2em;}	
.masthead-holder { padding: 0 .5em;}
#left-head {width: 100%;}
ul.top-social-icons {/*visibility: collapse;height: 0;*/}
#right-head {width: 100%;}
}

@media (max-width:350px){ 
.site-branding h1.site-title {font-size: 1.2em;}
#right-head .top-social-icons li {margin-right: .6em;font-size: 2em;}		
}