/*-----------Forms----------------------*/

button, input[type="button"], input[type="reset"], input[type="submit"]{ border:1px solid $whiteColor;border-radius:3px;background:$blueColor;color:$whiteColor;}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{ border-color:$greyColor $greyColor $greyColor $greyColor;  background:$whiteColor;  color:$darkBrownColor}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, 
input[type="submit"]:active{ border-color:$greyColor $greyColor $greyColor $greyColor;}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea{ color:#666;  border:1px solid $darkBrownColor;}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus{ color:#111}
